{
  data: {
    "id": "{{ item.id }}",
    "name": "{{ item.name }}",
    "exposed": true,
    "repoType": "hosted",
    "repoPolicy": "RELEASE",
    "providerRole": "org.sonatype.nexus.proxy.repository.Repository",
    "provider": "maven2",
    "format": "maven2",
    "browseable": true
  }
}
